@import "~bootstrap/dist/css/bootstrap.min.css";

.wrap {
  height: 100vh - calcVh(navHeight);
  width: 100vw;
}

header,
footer {
  position: relative;
  left: 0;
  right: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}
